.poll-card {
  width: 70%;
  max-width: 550px;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  background: #0c93d2;
  color: #fff;
  box-shadow: 0 0 5px 0 #00000080;
  transition: 0.2s;
}

.poll-card:hover {
  cursor: pointer;
  background: #0da1e6;
  box-shadow: 0 0 10px 0 #00000080;
}
